<h2>This is your cart {{userData.userAlias}}</h2>

<div class="cartBlock">
    <div class="cartItems"></div>
    <div class="cartButtons">
        <button class="cartButtonBuy" type="button">Buy</button>
        <button class="cartButtonEmpty" type="button">Empty</button>
    </div>
</div>