<h2>Welcome to chat {{user}}</h2>

<div class="chatBlock">
    <div class="chatMessages"></div>
    <form class="chatInputForm">
        <input class="chatInput" id="chatInput" placeholder="Enter your message here..">
        <div class="chatInputButtons">
            <button class="chatInputButtonSend" id="chatInputButtonSend" type="button">Send</button>
            <button class="chatInputButtonClear" id="chatInputButtonClear" type="reset">Reset</button>
        </div>
    </form>
</div>