{{#if userData.exists}}
<h2>Welcome {{userData.alias}}</h2>
<div class="homeButtons">
    <button class="homeButtonProducts"><a href="/products">Shop</a></button>
    <button class="homeButtonCart"><a href="/cart">Cart</a></button>
    <button class="homeButtonChat"><a href="/chat">Chat</a></button>
    <button class="homeButtonLogout"><a href="/users/logout">Logout</a></button>
</div>
{{else}}
<h2>Welcome to our E-commerce</h2>
<div class="homeButtons">
    <button class="homeButtonLogin"><a href="/users/login">Sign in</a></button>
    <button class="homeButtonRegister"><a href="/users/register">Sign up</a></button>
</div>
{{/if}}