<h2>Please enter your credentials</h2>

<form class="loginForm" action="/users/login" method="POST">
    <label class="loginFormLabel">Alias</label>
    <input class="loginFormInput" id="alias" name="alias" type="text">
    <label class="loginFormLabel">Password</label>
    <input class="loginFormInput" id="alias" name="alias" type="password">
    <div class="loginFormButtons">
        <button id="loginFormSubmitButton" type="submit">Log In</button>
        <button id="loginFormResetButton" type="reset">Clear</button>
    </div>
</form>

<button type="button" class="goBackButton"><a href="/home">Go Back</a></button>