<h2>Please enter your credentials</h2>

<form class="loginForm" action="/users/login" method="POST">
    <label class="formLabel">Alias</label>
    <input class="formInput" name="alias" type="text">
    <label class="formLabel">Password</label>
    <input class="formInput" name="password" type="password">
    <div class="buttonRow">
        <button class="basicButton greenButton" type="submit">Log In</button>
        <button class="basicButton blueButton" type="reset">Clear</button>
    </div>
</form>

<a href="/home"><button type="button" class="basicButton redButton">Go Back</button></a>