<h2>Join our community! Create your account now:</h2>

<form class="registerForm" action="/users/register" method="POST">
    <label class="formLabel">Name</label>
    <input class="formInput" name="name" type="text">
    <label class="formLabel">Email</label>
    <input class="formInput" name="email" type="email">
    <label class="formLabel">Image</label>
    <input class="formInput formInputImage" name="thumbnail" type="file" accept="image/png, image/jpeg">
    <label class="formLabel">Alias</label>
    <input class="formInput" name="alias" type="text">
    <label class="formLabel">Password</label>
    <input class="formInput" name="password" type="password">
    <label class="formLabel">Repeat Password</label>
    <input class="formInput" name="passwordRepeat" type="password">
    <label class="formLabel">Birthdate</label>
    <input class="formInput" name="birthdate" type="date">
    <div class="buttonRow">
        <button class="basicButton greenButton" type="submit">Register</button>
        <button class="basicButton blueButton" type="reset">Clear</button>
    </div>
</form>

<a href="/"><button type="button" class="basicButton redButton">Go Back</button></a>