<h2>Join our community! Create your account now:</h2>

<form class="registerForm" action="/users/register" method="POST">
    <label class="registerFormLabel">Name</label>
    <input class="registerFormInput" name="name" type="text">
    <label class="registerFormLabel">Email</label>
    <input class="registerFormInput" name="alias" type="text">
    <label class="registerFormLabel">Image:</label>
    <input class="registerFormInput" name="thumbnail" type="image">
    <label class="registerFormLabel">Alias</label>
    <input class="registerFormInput" name="alias" type="text">
    <label class="registerFormLabel">Password</label>
    <input class="registerFormInput" name="alias" type="password">
    <label class="registerFormLabel">Repeat Password</label>
    <input class="registerFormInput" name="alias" type="password">
    <label class="registerFormLabel">Birthdate</label>
    <input class="registerFormInput" name="birthdate" type="date">
    <div class="registerFormButtons">
        <button id="registerFormSubmitButton" type="submit">Register</button>
        <button id="registerFormResetButton" type="reset">Clear</button>
    </div>
</form>

<button type="button" class="goBackButton"><a href="/home">Go Back</a></button>