<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>E-commerce</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>var exports = {};</script> <!--because the normalizr script raise Uncaught error: exports is not defined-->
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.2/dist/normalizr.browser.min.js"></script>
</head>
<body>
    {{{body}}}
    <script src="../../logic.js"></script>
</body>
</html>